In [ ]:
s="ayaan"
l=[1,2,3,4,5]
f=5.66
t=(9,4,3)

In [ ]:
var1 = string
var2 = string
var3 = list
var4 = float

In [ ]:
l1=[1,5,2.4,'abs',4+3j,"college",9,8.,10]
for i in l1 :
    print(i)

In [ ]:
a=int(input())
b=int(input())

while(1) :
    if(a%b==0):
    print("it is completely divisible")
    c=(a/b)
    print ("it can be divisible by ")

In [ ]:
l3=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l3 :
    if(i%3==0):
        print("element"+i "is divisible by 3")
        else :
            print("element"+i"is not divisible")

In [ ]:
#mutable are those in which we can change the data during runtime by knowing the index that we want to change ex-list
#immutable are those in whiche we cannot change data during runtime ex-tuple,string
l5=[0,3,4,2]
l5[1]=9

c="college"
c[4]='i'