In [12]:
## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd
l = [ 4, 8, 15, 16, 23, 42]
series = pd.Series(l)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [11]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.
l1 = [ 4, 8, 15, 16, 23, 42,'ayaan','abbas','pw','skills']
series = pd.Series(l1)
print(series)

0         4
1         8
2        15
3        16
4        23
5        42
6     ayaan
7     abbas
8        pw
9    skills
dtype: object

In [4]:
##Q3. Create a Pandas DataFrame that contains the following data:
df = {'Name' :['Alice','Bob','Claire'],
     'Age':[25,30,27],
     'Gender':['Female','Male','Female']
}

In [10]:
d= pd.Series(df)
d

Name        [Alice, Bob, Claire]
Age                 [25, 30, 27]
Gender    [Female, Male, Female]
dtype: object

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
# ANS Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes.A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.
# The Pandas Series data structure is a one-dimensional labelled array. It is the primary building block for a DataFrame, making up its rows and columns.
# DataFrame example-df = {'Name' :['Alice','Bob','Claire'],
#     'Age':[25,30,27],
#    'Gender':['Female','Male','Female']
# }

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?
# Ans  We can read the dataframe by using head() function also which is having an argument (n) i.e. number of rows to be displayed.
# example-df.head(10)
# Counting the rows and columns in DataFrame using shape(). It returns the no. of rows and columns enclosed in a tuple.
# example-df.shape()
# Dropping the missing values in DataFrame, it can be done using the dropna() method, it removes all the NaN values in the dataframe.
# example- df.dropna()

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
# ans DataFrame and Panel are mutable in nature

In [13]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.
# Importing Pandas library
import pandas as pd

author = ['Jitu', 'Ayaan',
		'Arpit', 'Seema']
article = [210, 211, 114, 178]

auth_series = pd.Series(author)
article_series = pd.Series(article)

df = {'Author': auth_series,
		'Article': article_series}

result = pd.DataFrame(df)

print(result)

  Author  Article
0   Jitu      210
1  Ayaan      211
2  Arpit      114
3  Seema      178