### Q1) What is a database Differentiate between SQL and NoSQL databases.
#### ANS A database is an organized collection of structured information, or data, typically stored electronically in a computer system
#### SQL-1)SQL databases have fixed or static or predefined schema.
2)	SQL databases display data in form of tables so it is known as table-based database.
3)	SQL databases are vertically scalable.
#### NOSQL-1)NoSQL databases have dynamic schema.
#### 2)NoSQL databases display data as collection of key-value pair, documents, graph databases or wide-column stores.
#### 3)NoSQL databases are horizontally scalable.

#### Q2) What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
#### ANS Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System).
#### CREATE-This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.
#### DROP-This command is used to remove an existing table along with its structure from the Database.
#### ALTER- This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily
#### TRUNCATE-This command is used to remove all rows from the table, but the structure of the table still exists.

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
ANS The SQL commands that deal with the manipulation of data present in the database belong to DML or Data Manipulation Language and this includes most of the SQL statements. It is the component of the SQL statement that controls access to data and to the database
INSERT: It is used to insert data into a table.
EXAMPLE-INSERT INTO TABLE_NAME(column_Name1 , column_Name2 ,  .... column_NameN ) VALUES(value_1, value_2,.... value_N );
UPDATE: It is used to update existing data within a table.
EXAMPLE-UPDATE Table_name SET [column_name1= value_1, â€¦.., column_nameN = value_N] WHERE CONDITION;
DELETE: It is used to delete records from a database table.
EXAMPLE-DELETE FROM Table_Name WHERE condition;

#### Q4. What is DQL? Explain SELECT with an example.
### ANS  It is a component of SQL statement that allows getting data from the database and imposing order upon it.
## SELECT- It is used to retrieve data from the database.
# EXAMPLE-SELECT * FROM Student;

## Q5) Explain primary and foreign key.
## Primary keys serve as unique identifiers for each row in a database table. Foreign keys link data in one table to the data in another table. 
## A foreign key column in a table points to a column with unique values in another table (often the primary key column) to create a way of cross-referencing the two tables.

## Q6. Write a python code to connect MySQL to python.Explain the cursor() and execute() method.
## import mysql.connector
## mydb = mysql.connector.connect(
  ## host="localhost",
  ## user="abc",
  # password="password"
# )
# mycursor = mydb.cursor()
# mycursor.execute("")
# mydb.close()




## cursor()-Cursor is a Temporary Memory. 
## It is Allocated by Database Server at the Time of Performing DML operations on the Table .
## Cursors are used to store Database Tables.
## execute()-this  command is used to execute stored procedures and query strings in database servers.

## Q7. Give the order of execution of SQL clauses in an SQL query.
## ANS The order of execution in SQL follows a specific set of rules. First, the FROM clause is evaluated, followed by the WHERE clause, then the SELECT clause. The GROUP BY clause is evaluated next, followed by the HAVING clause, and finally, the ORDER BY clause.